@use './menu'

.header
  background: #FFF8F3
  padding-top: 1px
  .logo
    margin-top: 2px
  .phone
    position: relative
    @media(max-width: 768px)
      right: 4px
    &::before
      position: absolute
      content: ""
      background: no-repeat center/110% url('../assets/icons/phone.svg')
      width: 15px
      height: 15px
      left: -20px
      @media(max-width: 768px)
        width: 14px
        height: 14px
        background-position: 50% 25%
        background-size: 80%
        left: -16px
        top: -3px

.header__inner
  display: flex
  justify-content: space-between
  align-items: center





