@use 'sass:list'

.menu__list
  display: flex
  gap: 20px
  padding: 0
  margin: 0
  li
    list-style: none
    @media(max-width: 768px)
      &:last-child
        position: relative
        right: 1px
    .menu__list-link
      letter-spacing: 0.075px
      text-transform: uppercase
      @media(max-width: 780px)
        letter-spacing: 0.1px

.menu
  position: relative
  left: 18px
  @media(max-width: 1000px)
    left: -15px
  @media(max-width: 780px)
    left: -4px

.header__menu
  display: flex
  align-items: center
  @media(max-width: 760px)
    order: 3
    .menu__list
      display: none

.burger-menu
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 30px
  height: 20px
  border: none
  background-color: transparent
  padding: 0
  border-radius: 0
  cursor: pointer
  @media(max-width: 760px)
    display: flex
    span
      height: 0.75px
      background-color: #7B6152
      width: 100%
    &:hover
      span
        box-shadow: 0.5px 0.5px 0.5px #7B6152
  @media(max-width: 480px)
    top: -3.5px
    left: -2px
  @media(max-width: 360px)
    left: 4px
  &.close
    @for $i from 1 through 4
      span:nth-child(#{$i})
        z-index: $i + 1
        animation: uncross-#{$i} 0.75s forwards
  &.open
    @for $i from 1 through 4
      span:nth-child(#{$i})
        z-index: $i + 1
        animation: cross-#{$i} 0.75s forwards

$dist: 9px, 3px, -3px, -9px
$ang: 45deg, 45deg, -45deg, -45deg

@for $i from 1 through 4
  @keyframes cross-#{$i}
    from
      transform: translateY(0)
    50%
      transform: translateY(list.nth($dist, $i))
    to
      transform: translateY(list.nth($dist, $i)) rotate(list.nth($ang, $i))

@for $i from 1 through 4
  @keyframes uncross-#{$i}
    from
      transform: translateY(list.nth($dist, $i)) rotate(list.nth($ang, $i))
    50%
      transform: translateY(list.nth($dist, $i))
    to
      transform: translateY(0)
