section.about
  .container.about__wrapper
    .about__content
      h3.about__title О нас
      p.about__text
        | Борис создатель бренда который всегда
        | заинтересован в изготовлении
        | разнообразных вещей дома. Он регулярно
        | экспериментировал с различными
        | материалами и инструментами, пробуя свои
        | силы во многих областях, включая
        | изготовление свечей.
        br
        br
        | Соевый воск производится из соевых бобов,
        | выращиваемых в Дании, и этот вид воска
        | является экологически чистым и безопасным
        | для здоровья.
    .about__images-list
      each val, key in {1: 'Наслаждайтесь моментом', 2: 'Создайте любимую атмосферу', 3: 'Делайте с любовью'}
        .about__images-item
          img(src='../assets/images/about-' + key + '.png', alt="candle")
          p.about__images-item__text !{val}
