.footer__contacts
  a.phone(href="tel:+0165789876") +01 234 56 78
  a.email(href="mailto:youCanCandels@gmail.com") youCanCandels@gmail.com
  ul.footer__social
    li.footer__social-item
      a.social__footer-link(href="#")
        img.footer__social-img(src="../assets/icons/facebook-logo.svg" width="22" height="22" alt="")
    li.footer__social-item
      a.social__footer-link(href="#")
        img.footer__social-img(src="assets/icons/instagram-logo.svg" alt="")
    li.footer__social-item
      a.social__footer-link(href="#")
        img.footer__social-img(src="assets/icons/linkedin-logo.svg" alt="")
    li.footer__social-item
      a.social__footer-link(href="#")
        img.footer__social-img(src="assets/icons/youtube-logo.svg" alt="")

