section.top
  .container.top__wrapper
    .top__content
      h3.top__title Создайте атмосферу уюта и гармонии!
      p.top__text
        | Создайте особую атмосферу в своем
        | доме с нашей экологически чистой
        | и качественной продукцией из 100%
        | натурального соевого воска.
      button.top__btn Купить
    .top__image